version: '2'
services:
  data:
    image: creemson/data
    restart: always
    volumes:
      - ./Docker/Data:/var/lib/mysql
  mariadb:
    image: mariadb:latest
    restart: always
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: cremson
      MYSQL_USER: creemson
      MYSQL_PASSWORD: creemson
    volumes_from:
        - data
  adminer:
    image: adminer:latest
    restart: always
    ports:
      - 8083:8080
  web:
    image: creemson/apache_php
    ports:
      - 60000:80
    environment:
      XDEBUG_CONFIG: remote_host=172.22.0.1
      volumes_from: application
      links: mariadb
    volumes:
      - .:/var/www/html
#  phpmyadmin:
#    image: phpmyadmin/phpmyadmin
#    ports:
#      - 8084:80
#    links:
#      - mariadb
#    environment:
#      PMA_USER: root
#      PMA_PASSWORD: root
#  symfony:
#    image: creemson/application
#    volumes:
#      - /media/creemson/DATA/apps/dockerfile/Docker/Symfony:/var/www
#  gitlab:
#    image: 'gitlab/gitlab-ce:latest'
#    restart: always
#    hostname: 'gitlab.example.com'
#    environment:
#      GITLAB_OMNIBUS_CONFIG: |
#        external_url 'https://gitlab.example.com'
#        # Add any other gitlab.rb configuration here, each on its own line
#    ports:
#        - '8084:80'
#      - '443:443'
#      - '22:22'
#    volumes:
#      - '/srv/gitlab/config:/etc/gitlab'
#      - '/srv/gitlab/logs:/var/log/gitlab'
#      - '/srv/gitlab/data:/var/opt/gitlab'